.portfolio {

  &__filter-list {
    display: flex;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      
    justify-content: center;
    }

    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
  }

  &__filter-list > .filter-list__item + .filter-list__item {
    margin-left: 8px;
  }

 

  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__link {
    display: block;
    font-style: normal;
    text-decoration: none;
    color: inherit;
  
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: fill 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover .portfolio__card-wrapper .text,
      &:focus .portfolio__card-wrapper .text {
        transform: translateY(0%);
        transition: transform 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__card-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  &__card-wrapper .text {
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
  
    overflow: auto;
  
    background: #2196f3e6;
  
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  
    color: $primary-white-color;
  
    transition: transform 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__card-description {
    padding: 20px 24px;
    border-left: 1px solid $border-colour;
    border-right: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
  }

  &__card-description .card-description__title {

    color: $title-text-color;
  }

  &__type {
    margin-top: 4px;
  }
}

.filter-list__btn {
  margin-bottom: 15px;
  padding: 6px 22px;
  background: $border-colour;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: background-color 250ms;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $title-text-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.bounce-in-top{-webkit-animation:bounce-in-top 1.1s both;animation:bounce-in-top 1.1s both}

@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
